@model Garage_G5.Models.TypeOfVehicle

@{
    ViewData["Title"] = "Create";
}

<div id="subHeading">
    <h2 class="sh2 mb-4" style="clear:both;">Add a vehicle type</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeName" class="control-label"></label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ExtraRate" class="control-label"></label>
                <input asp-for="ExtraRate" class="form-control" />
                <span asp-validation-for="ExtraRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraHourlyRate" class="control-label"></label>
                <input asp-for="ExtraHourlyRate" class="form-control" />
                <span asp-validation-for="ExtraHourlyRate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary noSpace" />
                <a asp-action="Index" type="button" class="btn btn-info btn">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
