@model Garage_G5.Models.ViewModels.VehicleFilterViewModel
@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = "Garage";

}


@await Html.PartialAsync("NavButtonsPartial", "Garage G5")
<a id="NoPrint" asp-action="Create" type="button" class="btn btn-info btn">Park New</a>

<div id="subHeading">

    <h2 class="sh2 mb-4" style="clear:both;">Spaces currently in the garage: <strong style="text-decoration:underline"> @Context.Session.GetInt32("FreePlaces") </strong></h2>
</div>
<div class="row mb-5">

    <!-- Grid column -->
    <div class="col-md-8">
        <form asp-action="GeneralInfoGarage">
            <div class="input-group mb-3">
                <input type="text" class="form-control textboxGeneralInfo" asp-for="RegistrationNum" onchange="this.form.submit()" placeholder="Search Registration No. or Vehicle Brand" />
                <div class="input-group-append">
                    <select asp-for="VehicleType" asp-items="@Html.GetEnumSelectList<VehicleType>()" onchange="this.form.submit()" class="form-control">
                        <option selected="selected" value=" ">Please select</option>
                    </select>
                </div>
                <div class="input-group-append  ">
                    <button onchange="this.form.submit()" type="submit" class="form-control">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <partial name="GeneralPartial" />

    </div>
    <!-- Grid column -->
</div>
<!-- Grid row -->
