@model IEnumerable<ParkedVehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!--<form asp-controller="ParkedVehicles" asp-action="Filter">
    <div class="form-group">
        <div class="input-group mb-3">-->
            @*name is the refrence to the method parameters*@
            <!--<input value="" id="input-value" type="text" class="form-control" placeholder="Search by Registration No." name="registrationNum">
            <button class="btn btn-outline-secondary" type="submit" id="btn-search">Search</button>
        </div>
    </div>
</form>-->



<p>
    <a asp-action="Create">Create New</a>
</p>

@*PARTIAL FOR THE SEARCH AND FILTER*@

<partial name="ParkedVehiclePartial" />
