@model string
<!-- Heading -->
<div style="min-width: 10%;max-width:15%;padding-bottom:1em;margin:0em;float:left;"><img style="width:80%" src="/img/g5.png"></div>
<div id="h1"><h1 class="h1" id="NoPrint">@Model</h1></div>
<a id="NoPrint" asp-controller="Members" type="button" class="btn btn-default btn">Members</a>
<a id="NoPrint" asp-controller="TypeOfVehicles" type="button" class="btn btn-default btn">Types of vehicles</a>
<a id="NoPrint" asp-action="Statistics" type="button" class="btn btn-default btn">Statistics</a>


