@model string
<!-- Section: Tables -->
<section id="tables" class="my-5">

    <!-- Heading -->
    <div id="h1"><h1 class="h1">@Model</h1></div>
    <a id="NoPrint" asp-action="Create" type="button" class="btn btn-info btn">Park New</a>
    <a id="NoPrint" asp-action="Statistics" type="button" class="btn btn-default btn">Statistics</a>
