@model string

<!-- Heading -->
<div id="h1"><h1 class="h1" id="NoPrint">@Model</h1></div>
<a id="NoPrint" asp-action="Create" type="button" class="btn btn-info btn">Park New</a>
<a id="NoPrint" asp-action="Statistics" type="button" class="btn btn-default btn">Statistics</a>

