@model Garage_G5.Models.ViewModels.VehicleFilterViewModel

@{
    ViewData["Title"] = "SearchAndFilterView";
}

<h1>SearchAndFilterView</h1>

<form asp-action="SearchAndFilterView">
    <div class="input-group mb-2">
        <input type="text" class="form-control" asp-for="RegistrationNum" name="Registration" placeholder="Search on name" />
        <div class="input-group-append">
            <select asp-for="VehicleType" asp-items="@Html.GetEnumSelectList<VehicleType>()" onchange="this.form.submit()" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append mb-2 ml-1">
            <button type="submit" class="btn btn-dark" style="border-radius:4px"><i class="fa fa-search"> &emsp;Search</i></button>
        </div>
    </div>
</form>


<partial name="GenralPartial" />


