/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#countpara {
    color: aquamarine;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#box {
    fill: orange;
    stroke: black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #eeeeee;
}

/*LIGHTBOX

*/

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

#h1 {
    /*    min-width: 25%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 5em;
    float: left;*/
}

#RegistrationNum {
    font-size: 1em;
}

#subHeading {
    padding-top: 1em;
}

#endButtons {
    padding-left: 0.5em;
    margin: 0rem;
}

.noSpace {
    margin: 0em;
}

#OnlyPrint {
    visibility: hidden;
    display: none
}

.notifyjs-foo-base {
    opacity: 0.85;
    width: 200px;
    background: #F5F5F5;
    padding: 5px;
    border-radius: 10px;
}

.notifyjs-foo-base .title {
    float: left;
    margin: 0px;
    font-weight: bold;
    font-size: 1.2em;
}


/* Print styles */
@media print {
    div {
        font-size: 1.2em;
    }

    .col-sm-2 {
        padding-top: 1.2em;
        min-width: 40%;
    }

    .col-sm-10 {
        min-width: 40%;
    }

    .NoPrint {
        visibility: hidden;
        display: none
    }

    #NoPrint {
        visibility: hidden;
        display: none
    }

    #OnlyPrint {
        visibility: visible;
        display: contents;
    }
}

option:disabled {
    color: #f8d4d4 !important;
}

#main_container{
    padding-left: 5%;
    padding-right: 5%;
}

#logoNav {
    width:10em;
    padding: 1em;
    margin: 0em;
    float: left;
}

.btn-group .dropdown-menu {
    border-bottom: 0em;
}

#logo{
    width:60%
}

.form-control{
    height: auto;
}