@model Garage_G5.Models.Member

@{
    ViewData["Title"] = "Create";
}

<div id="subHeading">
    <!-- Subheading -->
    <h2 class="sh2 mb-4" style="clear:both;">Please enter the details: </h2>
</div>
<!-- Grid row -->
<div class="row mb-5">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden="hidden" class="form-group">
                <select asp-for="MembershipType" asp-items="@Html.GetEnumSelectList<MembershipType>()" class="form-control">
                    <option selected="selected" value=" ">Please select</option>
                </select>
            </div>

            @* Here we should add toggle or checkbox for golden membership *@

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" name="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <p></p>

                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
                <p></p>

                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                <p></p>


                <label asp-for="PersonalIdNumber" class="control-label"></label>
                <input asp-for="PersonalIdNumber" class="form-control"  placeholder="YYYYMMDDxxxx"/>
                <span asp-validation-for="PersonalIdNumber" class="text-danger"></span>
            </div>
            <div hidden="hidden" class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            @*Todo: add option for add 3,6 or 12 month*@
            <div hidden="hidden" class="form-group">
                <label asp-for="BonusAccountExpires" class="control-label"></label>
                <input asp-for="BonusAccountExpires" class="form-control" />
                <span asp-validation-for="BonusAccountExpires" class="text-danger"></span>
            </div>

            <input type="submit" value="Create" class="btn btn-primary btn noSpace" />
            <a asp-action="Index" type="button" class="btn btn-info btn">Cancel</a>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
