@model Garage_G5.Models.Member

@{
    ViewData["Title"] = "Edit";
}

<div id="subHeading">
    <!-- Subheading -->
    <h2 class="sh2 mb-4" style="clear:both;">Edit member </h2>
</div>
<!-- Grid row -->
<div class="row mb-8">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group">
                    <select readonly="readonly" asp-for="MembershipType" asp-items="@Html.GetEnumSelectList<MembershipType>()" class="form-control">
                    </select>
                </div>*@
            <div class="form-group">
                <label asp-for="MembershipType" class="control-label"></label>
                <input readonly="readonly" asp-for="MembershipType" class="form-control" />
                <span asp-validation-for="MembershipType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input readonly="readonly" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalIdNumber" class="control-label"></label>
                <input readonly="readonly" asp-for="PersonalIdNumber" class="form-control" />
                <span asp-validation-for="PersonalIdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input readonly="readonly" asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BonusAccountExpires" class="control-label"></label>
                <input readonly="readonly" asp-for="BonusAccountExpires" class="form-control" />
                <span asp-validation-for="BonusAccountExpires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary noSpace" />
                <a asp-action="Index" id="NoPrint" type="button" class="btn btn-outline-info">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
